.__navbar
{
    width: 40vh;
    padding:100px 40px 40px 40px;
    background: var(--green);
    height: 100vh;
    position: fixed;
}
.__navbar .links
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
.__navbar .links a,.__navbar .system a
{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
}
.__navbar .links i
{
    font-size: 1.4rem;
}
.__navbar .system a
{
    font-size: 1rem;
}
.__navbar .system
{
    display: flex;
    flex-direction: column;
    margin: 6rem 0 0 5rem;
    gap: 2rem;
}